@import "../../styles/_variables";

.linkAdd {

    .form {
        background: url("../../../public/images/bg-shorten-mobile.svg") no-repeat center/cover;
        background-color: $Dark-Violet;
        background-position-x: 100px;
        background-position-y: -25px;
        padding: 2em 1em;
        margin-bottom: 1em;
        display: flex;
        gap: 1em;
        flex-direction: column;
        border-radius: 0.5em;

        .input {
            height: 30px;
            width: 95%;
            padding: 0.5em;
            border: none;
            border-radius: 0.2em;
        }

        button {
            height: 45px;
            width: 100%;
            border-radius: 0.2em;
            background-color: $Cyan;
            border: none;
            font-size: 24px;
            font-weight: 700;
            color: $White;
            cursor: pointer;
        }

        .input.erro {
            border: 3px solid $Red;
        }
    }

    p {
        color: $Red;
        margin: -2.5em 0 2em 1em;
    }

}

button:hover {
    filter: brightness(110%);
}

@media (min-width: 736px) {
    .linkAdd {

        .form {
            background: url("../../../public/images/bg-shorten-desktop.svg") no-repeat center/cover;
            background-color: $Dark-Violet;
            flex-direction: row;
            align-items: center;
            height: 100px;
            padding: 2em;

            input {
                width: 70em;
                margin-right: 2em;
            }

            button {
                width: 9em;
            }
        }

        p {
            display: block;
            margin: -3.5em 0 2.3em 2em;
        }
    }
}