@import "../../styles/_variables";

.linkMenu {
    list-style: none;
    margin-left: -2em;

    li {
        text-align: center;
        margin: 0 1em;
        padding: 0.7em;
        font-size: 24px;
    }
    li:nth-child(4) {
        border-top: 1px solid $White;
    }

    li a {
        text-decoration: none;
        color: $White;
    }
}