@import "../../styles/_variables";

.linkMenu {
    list-style: none;
    margin-left: -2em;

    li {
        text-align: center;
        margin: 0 1em;
        padding: 0.7em;
        font-size: 24px;
    }

    li a {
        text-decoration: none;
        color: $White;
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        padding: 1em;
        border-top: 1px solid $White;
    }

    .login a {
        font-size: 24px;
        text-decoration: none;
        color: $White;
    }
}

@media (min-width: 736px) {
    .linkMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 3em;

        li a,
        .login a {
            color: $Gray;
        }

        li a:hover,
        .login a:hover {
            color: $Black;
        }

        .login {
            flex-direction: row;
        }
        .bar {
            width: 20%;
        }
    }

}