@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// Typography

$fonte-text: 'Poppins', sans-serif;

// Colors

$White: #FFFFFF;
$Black: #000000;

// Primary

$Dark-Violet: #3b3054;
$Cyan: #2acfcf;

// Secondary

$Red: #f46262;

// Neutral

$Gray: #bfbfbf;
$Grayish-Violet: #9e9aa7;
$Very-Dark-Blue: #35323e;
$Very-Dark-Violet: #232127;